.DS_Store
.DS_Store
env
code/exercise1/.ipynb_checkpoints/Untitled-checkpoint.ipynb
code/exercise1/.ipynb_checkpoints/Working with xarray-checkpoint.ipynb
code/exercise1/Untitled.ipynb
code/exercise1/.ipynb_checkpoints/Working with xarray plots-checkpoint.ipynb
checkpoint.ipynb
code/exercise1/.ipynb_checkpoints/Understanding Data Structures-checkpoint.ipynb
code/exercise1/.ipynb_checkpoints/Exercise 1-checkpoint.ipynb
code/exercise1/.ipynb_checkpoints/Understanding Data Structures-checkpoint.ipynb
